// Set defaults
* {
	box-sizing: border-box;
}
h1 {
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
	color: $c-header;
}
h2 {
	font-weight: 500;
	font-size: 3.75em;
	line-height: 1.15;
	margin-bottom: 15px;
}
a {
	&:hover {
		text-decoration: none;
	}
}
ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}
.slick-dots {
	display: flex !important;
	justify-content: center;
	padding-top: 45px;
	>li {
		margin-right: 8px;
		width: 8px;
		height: 8px;
		background-color: $c-accent;
		opacity: 0.5;
		border-radius: 50%;
		cursor: pointer;
		transition: opacity 0.15s ease;
		&:hover {
			opacity: 0.8;
		}
		&.slick-active {
			opacity: 1;
		}
		button {
			display: none;
		}
	}
}
.bg-violet {
	background-color: $c-violet;
}
.bg-pink {
	background-color: $c-pink;
}

// Reset styles
html body {
	
	font-family: $f-primary, sans-serif;
	color: $c-text;
	.navbar {
		padding: 0;
		.navbar-toggler {
			color: $c-white;
			border-color: $c-white;
			.navbar-toggler-icon {

			}
		}
	}
	.btn {
		padding: 10px 30px;
		font-size: $fz-smaller;
		font-weight: bold;
		border-radius: 20px;
		&.btn-light {
			color: $c-text-muted;
			background-color: $c-white;
			&:hover {
				color: $c-white;
				background-color: $c-accent;
				border-color: $c-accent;
			}
			&:active {
				color: $c-white!important;
				background-color: $c-accent-hover!important;
				border-color: $c-accent-hover!important;
			}
		}
		&.btn-outline-light {
			&:hover {
				color: $c-white!important;
				background-color: $c-accent;
				border-color: $c-accent;
			}
			&:active {
				color: $c-white!important;
				background-color: $c-accent-hover!important;
				border-color: $c-accent-hover!important;
			}
		}
		&:active,
		&:focus {
			box-shadow: none !important;
		}
	}
	.nav-item {
		.nav-link	{
			&.btn {
				padding: 10px 30px;
			}
		}
	}
}

// Custom classes
.shadow {
	box-shadow: 0 0 10px 0 rgba($c-black, 0.15);
}
.bg-accent {
	background-color: $c-accent;
}
.logo {
	display: flex;
	align-items: center;
	img {
		display: inline-block;
		width: 48px;
		height: 48px;
		margin-right: 15px;
	}
	h1 {
		display: inline-block;
		font-size: 26px;
    letter-spacing: 6px;
		margin-bottom: 0;
	}
}
.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 50px 50px;
	.nav {
		.nav-item {
			margin: 0 10px;
			&.active {
				border-bottom: 2px solid $c-white;
			}
			.nav-link:not(.btn) {
				color: $c-white;
				padding: 5px 14px;
				&:hover {
					color: darken($c-white, 10%);
				}
				&:active {
					color: darken($c-white, 15%);
				}
			}
		}
	}
}
.menu-btn {
	padding: 8px 8px 3px;
	transition: all 0.5s ease-out;
	cursor: pointer;
	.line {
		background-color: $c-white;
		height: 3px;
		width: 28px;
		margin-bottom: 5px;
	}
	&.close {
		transform: rotate(180deg);
		.line {
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg) translate(7px, -6px);
			}
		}
	}
}
.img-wrap {
	img {
		max-width: 100%;
	}
}
.tag-head {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: $fz-smaller;
	&.left-line {
		&::before {
			content: '';
			display: inline-block;
			height: 1px;
			width: 24px;
			margin-right: 14px;
		}
	}
	&.right-line {
		&::after {
			content: '';
			display: inline-block;
			height: 1px;
			width: 24px;
			margin-left: 14px;
			background-color: $c-white;
		}
	}
	&.both-lines {
		@extend .tag-head.left-line;
		@extend .tag-head.right-line;
	}
	&.white-line {
		&::before,
		&::after {
			background-color: $c-white;
		}
	}
	&.accent-line {
		&::before,
		&::after {
			background-color: $c-accent;
		}
	}
}
.slide-down {
	width: 3.525em;
	height: 3.525em;
	text-align: center;
	line-height: 3.525em;
	font-size: 0.9em;
	color: $c-text-muted;
	background-color: $c-white;
	transition: background 0.15s ease, color 0.15s ease;
	border-radius: 50%;
	&:hover {
		color: $c-white;
		background-color: $c-accent;
	}
	&:active {
		color: $c-white;
		background-color: $c-accent-hover;
	}
}

.bg-gradient {
	background: linear-gradient(-130deg, #88d3ce, #6e45e2);
}