/**
 * Maven Pro
 */

@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/Maven Pro/MavenPro-Regular') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/Maven Pro/MavenPro-Medium') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/Maven Pro/MavenPro-Bold') format('truetype');
	font-style: normal;
	font-weight: 700;
}

/**
 * Playfair Display
 */
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/Playfair Display/PlayfairDisplay-Regular') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/Playfair Display/PlayfairDisplay-Italic') format('truetype');
	font-style: italic;
	font-weight: 400;
}
