// Colors
$c-white: #fff;
$c-black: #000;

$c-text: #9fa4af;
$c-header: #4f4f6f;
$c-text-muted: #c2c9db;

$c-accent: #6e45e2;
$c-accent-hover: #6e25df;

$c-bg-section1: #f4f6f8;

$c-gray-1: #a8abb4;
$c-gray-2: #f9fafc;
$c-gray-3: #e3e6ee;

$c-pink: #ff8eb3;
$c-violet: #6e45e2;

// Sizing

// Fonts
$f-primary: "Maven Pro";
$f-secondary: "Playfair Display";

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-smaller: 0.75em;