// Colors
$c-white: #fff;
$c-black: #000;

$c-text: #9fa4af;
$c-header: #4f4f6f;

$c-accent: #6e45e2;

// Sizing

// Fonts
$f-primary: "Maven Pro";
$f-secondary: "Playfair Display";

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;