<div class="row tasks">
	
	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 item-wrap">
		<div class="item d-flex">
			<div class="img mr-4 rounded-circle">
				<i class="fas fa-clipboard-check"></i>
			</div>
			<div class="text">
				<h5 class="text-white mb-2">Analytics</h5>
				<p class="text=white">Easily create tasks for yourself or assign one to a teammate.</p>
			</div>
		</div>
	</div>
	
</div>