<section class="section-first">

	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="img-wrap">
					<img src="img/home-bg-1.png" alt="">
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="tag-head text-uppercase mb-2">
					why choose us
				</div>
				<h2 class="">All your data collected in one place</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
				<p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="get-started.html" class="btn btn-light text-uppercase shadow mb-1">Core features</a>
			</div>
		</div>
	</div>

	<div class="row justify-content-center pt-lg-2 pt-5">
		<a href="" class="slide-down">
			<i class="fa fa-arrow-down"></i>
		</a>
	</div>

</section>
<!-- /.section-first -->

<section class="section-second">
	<div class="container">
		<div class="tag-head text-center text-white text-uppercase mb-2">
			Social marketing & analytics
		</div>
		<h2 class="text-center">Powerful Features</h2>
		<p class="text-center">Built for your projects, your workflows, your goals, your team.</p>

		//= template/index-tasks.html
	</div>
</section>
<!-- /.section-second -->

<section class="section-fourth">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="tag-head text-uppercase mb-2">
					why choose us
				</div>
				<h2>Don't take our word for it</h2>
				<blockquote>
					If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
				</blockquote>
				<div class="user">
					<div class="img"></div>
					<h5 class="text-uppercase">Sam Isbister</h5>
					<small class="text-muted">Mass Impressiones</small>
				</div>
			</div>
			<div class="col-lg-6">
				fdsa
			</div>
		</div>
		<!-- /.row -->
		<div class="row justify-content-center pt-lg-2 pt-5">
			<a href="" class="slide-down">
				<i class="fa fa-arrow-down"></i>
			</a>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.section-fourth -->

<section class="section-fifth">
	<div class="container">
		<div class="tag-head text-center text-white text-uppercase mb-2">
			Social marketing & analytics
		</div>
		<h2 class="text-center">Powerful Features</h2>
		<p class="text-center">Built for your projects, your workflows, your goals, your team.</p>

		<div class="row">
			<div class="col-lg-7">
				<div class="img-wrap">
					<img src="img/home-bg-2.png" alt="">
				</div>
			</div>
			<!-- /.col-lg-7 -->
			<div class="col-lg-5">
				<div class="tag-head text-center text-white text-uppercase mb-2">
					About misocial
				</div>
				<h2>Who we are?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
				<p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>

			</div>
			<!-- /.col-lg-5 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.section-fifth -->


<section class="section-sixth">
	<div class="container">
		<div class="tag-head text-center text-white text-uppercase mb-2">
			Our team
		</div>
		<h2 class="text-center">Meet the team</h2>
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>

		<div class="row peoples">
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
			<div class="item col-lg-3">
				<div class="img-wrap"><img src="" alt=""></div>
				<h5 class="text-center text-uppercase">Harry Williamson</h5>
				<p class="text-center">Art Director</p>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.section-sixth -->

<section class="section-seventh">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<div class="tag-head text-white text-uppercase mb-2">
				What's new?
				</div>
				<h2>Recent Articles</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
			</div>
			<!-- /.section-head -->
			<div class="button-wrap">
				<a href="get-started.html" class="btn btn-light text-uppercase shadow mb-1">Core features</a>
			</div>
			<!-- /.button-wrap -->
		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->
</section>
<!-- /.section-seventh -->


<section class="section-eighth">
	<div class="container">
		<p class="text-uppercase text-center text-white">
			Social Marketing & analytics
		</p>
		<h2 class="text-center text-white">Take control of your data</h2>
		<div class="buttons mx-auto">
			<a href="get-started.html" class="btn btn-light text-uppercase mb-1">Get started</a>
			<a href="features.html" class="btn btn-light text-uppercase mb-1">Explore features</a>
		</div>
	</div>

	<div class="img-wrap">
		<img src="img/home-bg-4.png" alt="">
	</div>
	<!-- /.container -->
</section>
<!-- /.eighth -->